.biodiversity__page--title {
  font-size: 52px;
  font-weight: 400;
  text-align: center;
  padding: 40px;
}

.biodiversity__section--container {
  width: 100%;
  max-width: 1300px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px 0 40px 0;
  margin: 0 auto;
  gap: 25px;
}

.biodiversity__article {
  width: 100%;
  height: auto;
  max-height: 500px;
  background-color: rgba(0, 0, 0, 0.1);

  border-radius: 8px;
  box-shadow: 3px 3px 15px rgba(255, 253, 253, 0.05);
  overflow-y: scroll;
  scroll-behavior: smooth;
  cursor: pointer;
  scrollbar-width: none;
  transition: all ease-in-out 0.3s;
}

.biodiversity__article--title {
  font-size: 20px;
  margin: 12px;
  font-weight: 400;
  text-wrap: balance;
}

.biodiversity__article--description {
  font-size: 16px;
  margin: 12px;
  font-weight: 200;
  text-wrap: pretty;
  line-height: 1.3;
}

.biodiversity__article--image {
  width: 100%;
  border-radius: 8px;
}

.biodiversity__article:hover {
  transform: scale(1.05);
}
